In [1]:
from modules.data_preprocessing import DataPreprocessing
from modules.models import ProcessModels
from modules.recommendation import Recommendation

In [2]:
recommendation = Recommendation(
    process_model_module=ProcessModels(DataPreprocessing(), spark=None, model_dir='models/'),
)

In [3]:
recommendations, user_history = recommendation.surprise_recommender(
    current_user_id='13d4a80599cf4c4f8f4c3b511e25a4d9', # By pooja s
    num_recommendations=10,
)

In [4]:
recommendations

,CourseID,CourseName,ReviewNumber,AvgStar,Level,Unit,Results,EstimatedRating
0,409f8d989f9741e496c1136833c1227a,Neural Networks and Deep Learning,120907,4.9,Intermediate level,DeepLearning.AI,NaN,4.995421
1,11d4aeafdfb44ae197e30df18b37fdbd,"Foundations: Data, Data, Everywhere",99239,4.8,Beginner level,Google,Define and explain key concepts involved in da...,4.984688
2,019208b36534424daad46ca178108182,"The Power of Machine Learning: Boost Business,...",145,4.8,Beginner level,SAS,Participate in the deployment of machine learn...,4.964113
3,9a86f8d7de174898acf3c35600040106,Introduction to Node-red,37,4.8,Beginner level,Coursera Project Network,Learn to work with Node-Red Environment\nLearn...,4.923475
4,1012a6fa755745488d530e6b632589ae,Structured Query Language (SQL) using SAS,252,4.9,NaN,SAS,NaN,4.901048
5,f83a0b870c3c457dab31f72138574c2b,AI and Public Health,151,4.7,Beginner level,DeepLearning.AI,NaN,4.899728
6,aa8ddd96f08b456c9b3d1532195091ce,"Big Data, Artificial Intelligence, and Ethics",477,4.6,Beginner level,"University of California, Davis",Define and discuss big data opportunities and ...,4.888741
7,baeaa433af3b492db14e8c6423fc76fe,Exploratory Data Analysis with MATLAB,795,4.8,Beginner level,MathWorks,Import large tabular datasets & customize the ...,4.876848
8,23df2c5d25944451a049a2cb6b9e1e98,Computer Simulations,79,4.5,Beginner level,"University of California, Davis",NaN,4.866206
9,9d0057791a4f4cc984cc90f9b5b7f407,Linear Algebra: Orthogonality and Diagonalization,11,4.9,Intermediate level,Johns Hopkins University,NaN,4.865472

In [5]:
user_history

,CourseID,CourseName,ReviewNumber,AvgStar,Level,Unit,Results,RatingStar
0,b6247bd0233443ba80cd67788ead9baa,What is Data Science?,68152,4.7,Beginner level,IBM,Define data science and its importance in toda...,1
1,87900c57bcb44e9b9c4c04015153ddc1,"Python for Data Science, AI & Development",35369,4.6,Beginner level,IBM,Learn Python - the most popular programming la...,4
2,c9c2325cd8c5414392bfe9586bc7fce1,Basic Statistics,4369,4.6,Beginner level,University of Amsterdam,NaN,5
3,c6763c020605467f95f93e8ffbd86e90,Introduction to Data Analysis Using Excel,10166,4.7,NaN,Rice University,NaN,5
4,8fba60d8f2c745ea85cab0a59ccb3575,Linear Regression for Business Statistics,1335,4.8,NaN,Rice University,NaN,5

In [6]:
df_reviews, df_courses = DataPreprocessing().surprise_preprocessing()
df_courses

,CourseID,CourseName,Unit,ReviewNumber,AvgStar,Level,Results
0,ba4c3f6733994eca9f6ce1f1926f9505,IBM Data Science Professional Certificate,IBM,69587,4.6,Beginner level,Master the most up-to-date practical skills an...
1,b6247bd0233443ba80cd67788ead9baa,What is Data Science?,IBM,68152,4.7,Beginner level,Define data science and its importance in toda...
2,04d627bdde99423ca09b2521631bf688,Data Science Challenge,Coursera Project Network,0,0.0,Intermediate level,"Load, clean, analyze, process, and visualize d..."
3,da0eb131c4064bddbae05fb64df425b8,Leverage Data Science for a More Agile Supply ...,"University of California, Irvine",184,4.5,Intermediate level,Analyze historical data to determine inventory...
4,e019840aa27444349b7019d25a1b1b8f,Go Beyond the Numbers: Translate Data into Ins...,Google,481,4.8,Advanced level,Apply the exploratory data analysis (EDA) proc...
...,...,...,...,...,...,...,...
874,7f433ef7407e4ce4b3dd61df84ccf35f,Getting started with ImageJ,Coursera Project Network,37,4.4,Beginner level,You will learn how to use ImageJ to analyze im...
875,d2508aba7a3e4d6983369a711342aec3,Introduction to Bayesian Statistics,Databricks,39,3.6,Beginner level,"The basics of Probability, Bayesian statistics..."
876,2aa79877debd49fb882de1b6cb25d300,Manage Data for an Online Grocer Using MySQL W...,Coursera Project Network,0,0.0,Intermediate level,Examine the current data and reorganize it in...
877,fc8669b4bf30437ebb979f798b14b45d,Interpretable Machine Learning Applications: P...,Coursera Project Network,0,0.0,Intermediate level,"Set up a machine learning application in a ""ze..."
878,20ac18144bf04e45bd70d2d3cbc69c6b,Overview of Data Visualization in Microsoft Excel,Coursera Project Network,0,0.0,Beginner level,Create different charts\nLearn basic principle...

In [7]:
from modules.helpers import generate_random_user_data
random_courses = generate_random_user_data(df_courses)
random_courses

                             CourseID  RatingStar
70   6c2645897c4a44b085d06823d2677cd4           5
482  6b87728edabc4c60b21e9d69993853a3           1
718  8accb9fef2b64091994e9e45e06fae48           4
235  0ffa7510c19f473281b9f3cddcbd93d1           5
133  0c7a2ffbfb4a426c825ab3d419ad6182           2

In [8]:
selected_courses = df_courses[df_courses['CourseID'].isin(random_courses['CourseID'])]
selected_courses

,CourseID,CourseName,Unit,ReviewNumber,AvgStar,Level,Results
70,6c2645897c4a44b085d06823d2677cd4,Generative AI: Foundation Models and Platforms,IBM,62,4.8,Beginner level,Describe the fundamental concepts of generativ...
133,0c7a2ffbfb4a426c825ab3d419ad6182,AI for Good Specialization,DeepLearning.AI,205,4.8,Beginner level,Master a step-by-step framework for the develo...
235,0ffa7510c19f473281b9f3cddcbd93d1,"Data Wrangling, Analysis and AB Testing with SQL","University of California, Davis",927,3.3,Intermediate level,Validate and clean a dataset\nAssess and creat...
482,6b87728edabc4c60b21e9d69993853a3,"Managing, Describing, and Analyzing Data",University of Colorado Boulder,27,4.6,Beginner level,Calculate descriptive statistics and create gr...
718,8accb9fef2b64091994e9e45e06fae48,Using ggplot,Coursera Project Network,0,0.0,Beginner level,Install ggplot2\nLoad Tidyverse\nReview RStudi...

In [9]:
recommendations, user_history = recommendation.surprise_recommender(
    user_data=random_courses,
    num_recommendations=10,
    preset=False,
)
recommendations

,CourseID,CourseName,ReviewNumber,AvgStar,Level,Unit,Results,EstimatedRating
0,409f8d989f9741e496c1136833c1227a,Neural Networks and Deep Learning,120907,4.9,Intermediate level,DeepLearning.AI,NaN,4.726653
1,11d4aeafdfb44ae197e30df18b37fdbd,"Foundations: Data, Data, Everywhere",99239,4.8,Beginner level,Google,Define and explain key concepts involved in da...,4.706458
2,8bd2b26be4aa4cf8a9c2618039f7ce3a,Getting started with TensorFlow 2,550,4.9,Intermediate level,Imperial College London,NaN,4.681911
3,ad3edbdbcc84402d8c96a827978d985b,Machine Learning: Regression,5541,4.8,NaN,University of Washington,NaN,4.667236
4,186539b1dd3e4d2585a1ac7d5c617411,Performing Data Definition and Manipulation in...,106,4.6,Beginner level,Coursera Project Network,Learn how to use SQL data definition statement...,4.643429
5,a8f085ab520742769b048160a04165ba,University Admission Prediction Using Multiple...,182,4.6,Intermediate level,Coursera Project Network,Train Artificial Neural Network models to perf...,4.642484
6,97f50ae769134b8ba9a1a326c69b57b6,Data Analysis and Reporting in SAS Visual Anal...,349,4.8,NaN,SAS,NaN,4.630768
7,78a30f24d31f46619d85253be7284283,Performing Data Aggregation using SQL Aggregat...,76,4.8,Intermediate level,Coursera Project Network,Retrieve data as summaries from tables of a da...,4.615234
8,689d880b333b424b93733490f2b5efee,Human Factors in AI,70,4.7,Beginner level,Duke University,Identify and mitigate privacy and ethical risk...,4.613895
9,baeaa433af3b492db14e8c6423fc76fe,Exploratory Data Analysis with MATLAB,795,4.8,Beginner level,MathWorks,Import large tabular datasets & customize the ...,4.608734

In [10]:
user_history

,CourseID,CourseName,ReviewNumber,AvgStar,Level,Unit,Results,RatingStar
0,6c2645897c4a44b085d06823d2677cd4,Generative AI: Foundation Models and Platforms,62,4.8,Beginner level,IBM,Describe the fundamental concepts of generativ...,5
1,6b87728edabc4c60b21e9d69993853a3,"Managing, Describing, and Analyzing Data",27,4.6,Beginner level,University of Colorado Boulder,Calculate descriptive statistics and create gr...,1
2,8accb9fef2b64091994e9e45e06fae48,Using ggplot,0,0.0,Beginner level,Coursera Project Network,Install ggplot2\nLoad Tidyverse\nReview RStudi...,4
3,0ffa7510c19f473281b9f3cddcbd93d1,"Data Wrangling, Analysis and AB Testing with SQL",927,3.3,Intermediate level,"University of California, Davis",Validate and clean a dataset\nAssess and creat...,5
4,0c7a2ffbfb4a426c825ab3d419ad6182,AI for Good Specialization,205,4.8,Beginner level,DeepLearning.AI,Master a step-by-step framework for the develo...,2