In [1]:
from modules.data_preprocessing import DataPreprocessing
from modules.models import ProcessModels
from modules.recommendation import Recommendation

In [2]:
recommendation = Recommendation(
    process_model_module=ProcessModels(DataPreprocessing(), spark=None, model_dir='models/'),
)

In [3]:
recommendations, user_history = recommendation.surprise_recommender(
    current_user_id='13d4a80599cf4c4f8f4c3b511e25a4d9', # By pooja s
    num_recommendations=10,
)

In [4]:
recommendations

,CourseID,CourseName,ReviewNumber,AvgStar,Level,Unit,Results,EstimatedRating
0,409f8d989f9741e496c1136833c1227a,Neural Networks and Deep Learning,120907,4.9,Intermediate level,DeepLearning.AI,NaN,4.995421
1,11d4aeafdfb44ae197e30df18b37fdbd,"Foundations: Data, Data, Everywhere",99239,4.8,Beginner level,Google,Define and explain key concepts involved in da...,4.984688
2,019208b36534424daad46ca178108182,"The Power of Machine Learning: Boost Business,...",145,4.8,Beginner level,SAS,Participate in the deployment of machine learn...,4.964113
3,9a86f8d7de174898acf3c35600040106,Introduction to Node-red,37,4.8,Beginner level,Coursera Project Network,Learn to work with Node-Red Environment\nLearn...,4.923475
4,1012a6fa755745488d530e6b632589ae,Structured Query Language (SQL) using SAS,252,4.9,NaN,SAS,NaN,4.901048
5,f83a0b870c3c457dab31f72138574c2b,AI and Public Health,151,4.7,Beginner level,DeepLearning.AI,NaN,4.899728
6,aa8ddd96f08b456c9b3d1532195091ce,"Big Data, Artificial Intelligence, and Ethics",477,4.6,Beginner level,"University of California, Davis",Define and discuss big data opportunities and ...,4.888741
7,baeaa433af3b492db14e8c6423fc76fe,Exploratory Data Analysis with MATLAB,795,4.8,Beginner level,MathWorks,Import large tabular datasets & customize the ...,4.876848
8,23df2c5d25944451a049a2cb6b9e1e98,Computer Simulations,79,4.5,Beginner level,"University of California, Davis",NaN,4.866206
9,9d0057791a4f4cc984cc90f9b5b7f407,Linear Algebra: Orthogonality and Diagonalization,11,4.9,Intermediate level,Johns Hopkins University,NaN,4.865472

In [5]:
user_history

,CourseID,CourseName,ReviewNumber,AvgStar,Level,Unit,Results,RatingStar
0,b6247bd0233443ba80cd67788ead9baa,What is Data Science?,68152,4.7,Beginner level,IBM,Define data science and its importance in toda...,1
1,87900c57bcb44e9b9c4c04015153ddc1,"Python for Data Science, AI & Development",35369,4.6,Beginner level,IBM,Learn Python - the most popular programming la...,4
2,c9c2325cd8c5414392bfe9586bc7fce1,Basic Statistics,4369,4.6,Beginner level,University of Amsterdam,NaN,5
3,c6763c020605467f95f93e8ffbd86e90,Introduction to Data Analysis Using Excel,10166,4.7,NaN,Rice University,NaN,5
4,8fba60d8f2c745ea85cab0a59ccb3575,Linear Regression for Business Statistics,1335,4.8,NaN,Rice University,NaN,5

In [6]:
df_reviews, df_courses = DataPreprocessing().surprise_preprocessing()
df_courses

,CourseID,CourseName,Unit,ReviewNumber,AvgStar,Level,Results
0,ba4c3f6733994eca9f6ce1f1926f9505,IBM Data Science Professional Certificate,IBM,69587,4.6,Beginner level,Master the most up-to-date practical skills an...
1,b6247bd0233443ba80cd67788ead9baa,What is Data Science?,IBM,68152,4.7,Beginner level,Define data science and its importance in toda...
2,04d627bdde99423ca09b2521631bf688,Data Science Challenge,Coursera Project Network,0,0.0,Intermediate level,"Load, clean, analyze, process, and visualize d..."
3,da0eb131c4064bddbae05fb64df425b8,Leverage Data Science for a More Agile Supply ...,"University of California, Irvine",184,4.5,Intermediate level,Analyze historical data to determine inventory...
4,e019840aa27444349b7019d25a1b1b8f,Go Beyond the Numbers: Translate Data into Ins...,Google,481,4.8,Advanced level,Apply the exploratory data analysis (EDA) proc...
...,...,...,...,...,...,...,...
874,7f433ef7407e4ce4b3dd61df84ccf35f,Getting started with ImageJ,Coursera Project Network,37,4.4,Beginner level,You will learn how to use ImageJ to analyze im...
875,d2508aba7a3e4d6983369a711342aec3,Introduction to Bayesian Statistics,Databricks,39,3.6,Beginner level,"The basics of Probability, Bayesian statistics..."
876,2aa79877debd49fb882de1b6cb25d300,Manage Data for an Online Grocer Using MySQL W...,Coursera Project Network,0,0.0,Intermediate level,Examine the current data and reorganize it in...
877,fc8669b4bf30437ebb979f798b14b45d,Interpretable Machine Learning Applications: P...,Coursera Project Network,0,0.0,Intermediate level,"Set up a machine learning application in a ""ze..."
878,20ac18144bf04e45bd70d2d3cbc69c6b,Overview of Data Visualization in Microsoft Excel,Coursera Project Network,0,0.0,Beginner level,Create different charts\nLearn basic principle...

In [7]:
data_processing = DataPreprocessing()
df_users = data_processing.get_all_user_ids()
df_users

            ReviewerName                        ReviewerID
0             By Kevin M  dcd5115659af4c21aafdd91063bd994b
1           By Jianfei Z  ef31c37f264c42ca8bd487105725aa69
2              By Aman J  1ff27276ebd145958312a25947514150
3             By pooja s  13d4a80599cf4c4f8f4c3b511e25a4d9
4            By Lauren J  2dc81e9b8813477f9b3fc97c08456157
...                  ...                               ...
223519   By Shashank N S  a7aa9c9ec724410a8ba0b9aca7e6787c
223525         By Mars G  6113792be4f14108871e0486764f8db1
223526   By kulbhushan s  cd702e2c27cf47febf5960263cfa423c
223533  By Charles W C I  6d8210f1f5c24870bc88fa0e178d242d
223538       By Moaish P  88b40679895a4119b5f5a5e29e1a85b3

[119259 rows x 2 columns]

In [13]:
df_user_courses = data_processing.get_user_history('dcd5115659af4c21aafdd91063bd994b')
df_user_courses

,CourseName,ReviewerName,DateOfReview,ReviewContent,RatingStar,ReviewerID,CourseID
0,What is Data Science?,By Kevin M,"Mar 25, 2019","Very basic course, to be honest. The grading ...",2,dcd5115659af4c21aafdd91063bd994b,b6247bd0233443ba80cd67788ead9baa
4125,What is Data Science?,By Kevin M,"Jul 7, 2020",The course is presented in such a way that one...,5,dcd5115659af4c21aafdd91063bd994b,b6247bd0233443ba80cd67788ead9baa
19701,"Foundations: Data, Data, Everywhere",By Kevin M,"Jan 7, 2024",Good opener for what feels to be a great progr...,5,dcd5115659af4c21aafdd91063bd994b,11d4aeafdfb44ae197e30df18b37fdbd
23624,The Data Scientist’s Toolbox,By Kevin M,"Jan 4, 2018","This course is a great ""get your feet wet"" int...",5,dcd5115659af4c21aafdd91063bd994b,05efffea299541dc8eac520ef0b537d8
53932,SQL for Data Science,By Kevin M,"Apr 29, 2023",Overall this was a big comedown from the googl...,2,dcd5115659af4c21aafdd91063bd994b,d686e6c199794c889e393360d6ce6cd9
59057,Data Science Capstone,By Kevin M,"Jan 16, 2018",Very hard!,4,dcd5115659af4c21aafdd91063bd994b,14149f632e0844498560e278a758d2f0
74130,Neural Networks and Deep Learning,By Kevin M,"Apr 11, 2020",Terrific course with 4 solid weeks of learning...,5,dcd5115659af4c21aafdd91063bd994b,409f8d989f9741e496c1136833c1227a
75963,Neural Networks and Deep Learning,By Kevin M,"Jan 7, 2019",Clear and straightforward. I feel like I reall...,5,dcd5115659af4c21aafdd91063bd994b,409f8d989f9741e496c1136833c1227a
101952,Improving Deep Neural Networks: Hyperparameter...,By Kevin M,"Sep 24, 2020",Very good - wouldve been more effective if inc...,4,dcd5115659af4c21aafdd91063bd994b,f0e79a0fdfe345c3844a04dd7339cd53
106638,A Crash Course in Data Science,By Kevin M,"May 22, 2017",Quick and dirty rundown,4,dcd5115659af4c21aafdd91063bd994b,9c3eb04c2a82411b8c29b2289610b0e1
114960,Sequence Models,By Kevin M,"May 28, 2020",A terrific set of courses that builds deep lea...,5,dcd5115659af4c21aafdd91063bd994b,3a3e9436bd8045d3812e868b960a4045
133887,Mathematics for Machine Learning: Linear Algebra,By Kevin M,"Mar 25, 2019","Very, very accessible.",5,dcd5115659af4c21aafdd91063bd994b,9456ae67966e4fb7b9a1b989a5d8aa88
137784,Introduction to Data Science in Python,By Kevin M,"Apr 18, 2019",This course lacked written material to accompa...,1,dcd5115659af4c21aafdd91063bd994b,4955ffa3878d49ff9d94aee5200ab083
162751,Fundamentals of Visualization with Tableau,By Kevin M,"Jul 8, 2019",Assignments were way too easy and tedious.,2,dcd5115659af4c21aafdd91063bd994b,49d6da5f5f8047908382f69ad2c71c1e
181385,"Applied Plotting, Charting & Data Representati...",By Kevin M,"Sep 28, 2020",Good.,5,dcd5115659af4c21aafdd91063bd994b,a646f079932a428198c3e77cd1506696
216672,"Business Intelligence Concepts, Tools, and App...",By Kevin M,"Sep 16, 2019",great course,5,dcd5115659af4c21aafdd91063bd994b,cf7b12212cae468d87b67372cf6beac5
217393,Graph Analytics for Big Data,By Kevin M,"Dec 18, 2017",Got an amazing introduction to Graph Analytics...,5,dcd5115659af4c21aafdd91063bd994b,09d5322d5c304271a0347cacc800dd20
217775,Big Data - Capstone Project,By Kevin M,"Jan 15, 2018",Excellent course for introduction to Big Data....,5,dcd5115659af4c21aafdd91063bd994b,e6d1338e8a2f421ab3b49cffbfd18631

In [9]:
from modules.helpers import generate_random_user_data
random_courses = generate_random_user_data(df_courses)
random_courses

                             CourseID  RatingStar
569  383740c737094c2aa5bf860a48c98c1b           4
309  1f1437f104334506bfb76e34ed318612           1
671  a3d30c18d85848a1b1d17eaea049bff6           1
873  d6eec0e7e71e47e3ac117044ae0e1ec7           1
48   4cfb5b32c3f84bfa9176742b7cd03988           5

In [10]:
selected_courses = df_courses[df_courses['CourseID'].isin(random_courses['CourseID'])]
selected_courses

,CourseID,CourseName,Unit,ReviewNumber,AvgStar,Level,Results
48,4cfb5b32c3f84bfa9176742b7cd03988,SAS Visual Business Analytics Professional Cer...,SAS,940,4.7,Beginner level,How to explore data using SAS Visual Analytics...
309,1f1437f104334506bfb76e34ed318612,Deep Learning for Computer Vision Specialization,MathWorks,0,0.0,Beginner level,Apply the full deep learning workflow to real-...
569,383740c737094c2aa5bf860a48c98c1b,Serverless Data Processing with Dataflow: Foun...,Google Cloud,72,4.2,Intermediate level,NaN
671,a3d30c18d85848a1b1d17eaea049bff6,Cinematic Storytelling Simplified: Mastering L...,Coursera Project Network,0,0.0,Beginner level,Learn to create captivating videos with Lumen5...
873,d6eec0e7e71e47e3ac117044ae0e1ec7,SQL Mathematical Functions,Coursera Project Network,10,4.1,Intermediate level,Understand how SQL Mathematical functions work...

In [11]:
recommendations, user_history = recommendation.surprise_recommender(
    user_data=random_courses,
    num_recommendations=10,
    preset=False,
)
recommendations

,CourseID,CourseName,ReviewNumber,AvgStar,Level,Unit,Results,EstimatedRating
0,11d4aeafdfb44ae197e30df18b37fdbd,"Foundations: Data, Data, Everywhere",99239,4.8,Beginner level,Google,Define and explain key concepts involved in da...,4.252127
1,409f8d989f9741e496c1136833c1227a,Neural Networks and Deep Learning,120907,4.9,Intermediate level,DeepLearning.AI,NaN,4.250212
2,cf12ffbc712d4ac2ac908a85b511e2c2,Trustworthy Generative AI,127,4.8,Beginner level,Vanderbilt University,What problems actually make sense to solve wit...,4.187954
3,7ec862d11eae4efd8247eb9d3c38237e,Python Project for Data Science,3960,4.5,Intermediate level,IBM,Play the role of a Data Scientist / Data Analy...,4.176697
4,7dc1515261f5403794a381d4f33b4ce3,Advanced Data Visualization with R,69,4.9,NaN,Johns Hopkins University,NaN,4.166072
5,8fba60d8f2c745ea85cab0a59ccb3575,Linear Regression for Business Statistics,1335,4.8,NaN,Rice University,NaN,4.161262
6,c856429331f04a3f9467bb0b05231164,Creating Advanced Reports with SAS Visual Anal...,207,4.7,Intermediate level,SAS,How to create advanced data items (like calcul...,4.154390
7,8bd2b26be4aa4cf8a9c2618039f7ce3a,Getting started with TensorFlow 2,550,4.9,Intermediate level,Imperial College London,NaN,4.131402
8,186539b1dd3e4d2585a1ac7d5c617411,Performing Data Definition and Manipulation in...,106,4.6,Beginner level,Coursera Project Network,Learn how to use SQL data definition statement...,4.130485
9,4daab1694b0a4b509e1ed318e9568f67,Advanced Clinical Data Science,21,4.8,Intermediate level,University of Colorado System,NaN,4.128938

In [12]:
user_history

,CourseID,CourseName,ReviewNumber,AvgStar,Level,Unit,Results,RatingStar
0,383740c737094c2aa5bf860a48c98c1b,Serverless Data Processing with Dataflow: Foun...,72,4.2,Intermediate level,Google Cloud,NaN,4
1,1f1437f104334506bfb76e34ed318612,Deep Learning for Computer Vision Specialization,0,0.0,Beginner level,MathWorks,Apply the full deep learning workflow to real-...,1
2,a3d30c18d85848a1b1d17eaea049bff6,Cinematic Storytelling Simplified: Mastering L...,0,0.0,Beginner level,Coursera Project Network,Learn to create captivating videos with Lumen5...,1
3,d6eec0e7e71e47e3ac117044ae0e1ec7,SQL Mathematical Functions,10,4.1,Intermediate level,Coursera Project Network,Understand how SQL Mathematical functions work...,1
4,4cfb5b32c3f84bfa9176742b7cd03988,SAS Visual Business Analytics Professional Cer...,940,4.7,Beginner level,SAS,How to explore data using SAS Visual Analytics...,5